@font-face{
    font-family: "Minecraft";
    src: url("/src/assets/Fonts/Minecraftia-Regular.ttf") format("truetype");
}
@keyframes moverNuvens {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -300px;
    }
}
@keyframes fluir {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: 300px ;
    }
    
}
@keyframes andar{

    0%, 100%{
        left: -100px;
    }

    75%{
        left: calc(50vw - 102px);
    }

    99%{
        left: calc(50vw - 102px);
    }
}



:root{
    --header-height: 6.25rem;
    --cor-gradientCeu: linear-gradient(#4aa8ff, #87ceeb);
    --cor-gradientNoite: linear-gradient(#020111,#0b1d51,#1b3b6f);
    --black: #000000;
    --white: #ffffff;  
    --block: 130px;
}
*{
    font-family: "Minecraft";
}
body{
    margin: 0px;
    

}
main{
    margin-top: var(--header-height);
} 

header{
    justify-content: space-between;
    display: flex;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: clamp(0px, 4vw, 100px);
    align-items: center;
    z-index: 10;   
}
footer{
    background-image: url(/src/assets/Imagens/bedrock.webp);
    background-repeat: repeat;
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5em;
    position: relative;
    color: var(--white);
    flex-direction: row;
}

.creeper{
    position: absolute;
    bottom: 10px;
    left: -100px;

    animation: andar 4s linear;
}
.minecraftSite{
    background: none;
    border: none;
    background-image: url(/src/assets/Imagens/minecraft_logo.webp);
    height: 50px;
    width: 300px;
    cursor: pointer;
}
.minecraftSite:hover{
    transform: scale(1.2);
}

.nav-header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 10px;
    width: 70%;

}

.logo{
    height: auto;
    width: clamp(120px, 25vw, 180px);
    justify-content: left;
    background: transparent;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;

}
h2{
    color: var(--white);
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.botaoNav{
    background: none;
    border: none;
    transition: 0.3s ;
    position: relative;
    cursor: pointer;
}

.botaoNav:hover{
    transform: scale(1.3);
}
.botaoNav::after{
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 0;
    height: 3px;
    background: var(--white);
    transform: translateX(-50%);
    transition: width 0.5s linear;
}
.botaoNav:hover::after{
    width: 80%;
}

.botao{
    width: clamp(128px, 20vw, 256px);
    height: clamp(23px, 5vw, 46px);
    cursor: pointer;
    border: none;
    background-image: url(/src/assets/Imagens/botao_mine\ \(1\).webp);
    border: black 2px solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 13px;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1em;
    transition: 0.01s;
    text-shadow: 
        -2px -2px 0 var(--black),
         1px -1px 0 var(--black),
        -1px  1px 0 var(--black),
         1px  1px 0 var(--black);
    
}
.botao h3{
    font-size: clamp(70%, 2vw, 1.33em);
}
.botao:hover{
    filter: brightness(1.15);
}
.botao:active{
    transform: translateY(3px);
    filter: brightness(0.9);
    border: white 2px solid;
}
.txtBox{
    background-image: url("/src/assets/Imagens/book.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: justify;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: calc(360px * 360 / 292);
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 1;
    
}
.modelBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 444px;
    height: 444px;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 1;
    background-image: url(/src/assets/Imagens/inventario.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.modelBox.deep{
    background-image: none;
    height: auto;
}
.pagina{
    width: 55%;
    height: 45%;
    text-align: justify;
    overflow-y:scroll;
    padding: 3px 35px 40px 50px;
    color: var(--black);
}
.pagina::-webkit-scrollbar{
    width: 8px;
}

.pagina::-webkit-scrollbar-thumb{
    background: #79320c;
}

.pagina::-webkit-scrollbar-track{
    background: transparent;
}
.mob3d{
    width: 85%;
    height: 85%;
    margin-bottom: 35px;
    background: transparent;
}
.mob3d.Warden{
    width: 97%;
    height: 50%;
}
.dimensoes{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    justify-items: center;
    padding-top: 3%;
    gap: 20px;
}


.OverWorld header{
    background: url("/src/assets/Imagens/ceu_def.webp") repeat-x, var(--cor-gradientCeu);
    --white:var(--black);
    animation: moverNuvens 60s linear infinite;
}
.OverWorld.Noite header{
    background: url("/src/assets/Imagens/ceuNoite.webp") repeat-x, var(--cor-gradientNoite);
    animation: moverNuvens 60s linear infinite;
    --white:#ffffff; 
}
.Nether header{
    background: url("/src/assets/Imagens/lava.webp") repeat-x;
    background-repeat: repeat;
    animation: fluir 15s linear infinite;
}
.End header{
    background: url("/src/assets/Imagens/end_portal.webp") repeat-x;
    background-repeat: repeat;
    animation: fluir 60s linear infinite;
    --grama: url("/src/assets/Imagens/end_stone_grama.webp");
}
.Ocean header{
    background: url("/src/assets/Imagens/agua.webp") repeat-x;
    animation: moverNuvens 30s linear infinite;
}

.OverWorld{
    --grama: url("/src/assets/Imagens/blocoTerraGrama.webp");
}
.OverWorld.Noite{
    --grama: url("/src/assets/Imagens/blocoTerraGrama.webp");
}
.Nether{
    --grama: url("/src/assets/Imagens/nylium_netherrack.webp");
}
.End{
    --grama: url("/src/assets/Imagens/end_stone_grama.webp");
}
.Ocean{
    --grama: url("/src/assets/Imagens/prismarine.webp");
}


.grama{
    height: var(--block);
    background-image: var(--grama);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 0px;
    position:sticky;
}
.grama.oculta{
    opacity: 0;
    pointer-events: none;
}
.grama::before{
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--block);
    background-image: var(--grama);
    background-repeat: repeat-x;
    z-index: -1;
}
.terra{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    z-index: 0;
}
.OverWorld .terra{
    background-image: url(/src/assets/Imagens/blocoTerra.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.OverWorld.Noite .terra{
    background-image: url(/src/assets/Imagens/blocoTerra.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.Nether .terra{
    background-image: url(/src/assets/Imagens/netherrack.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.End .terra{
    background-image: url(/src/assets/Imagens/end_stone.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.Ocean .terra{
    background-image: url(/src/assets/Imagens/prismarine.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.stone{
    background-image: url(/src/assets/Imagens/cobbleStone.webp);
    background-repeat: repeat;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px
}
.redstone{
    flex-direction: row;
    display: grid;
    grid-template-columns: var(--block) 1fr var(--block);
    gap: 5px;
    align-items: center;
    height: 150px;
    width: 80%;
    background: none;
   
}
.redstone.On .lever{
    background: none;
    border: none;
    background-image: url(/src/assets/Imagens/lever_on.webp);
}
.redstone.On .dust{
    background-image: url(/src/assets/Imagens/redstone_dust_on.webp);
}
.redstone.On .lamp{
    background-image: url(/src/assets/Imagens/lamp_on.webp);
    box-shadow: 0 0 75px #b19700;
}
.redstone.On .piston{
    background-image: url(/src/assets/Imagens/piston_in.webp);
    width: 260px;
}


.dust{
    background-image: url(/src/assets/Imagens/redstone_dust_off.webp);
    height: var(--block);
    width: 100%;
}
.lamp{
    background-image: url(/src/assets/Imagens/lamp_off.webp);
    height: var(--block);
    width: var(--block);
}
.piston{
    background-image: url(/src/assets/Imagens/piston_out.webp);
    height: var(--block);
    width: var(--block);
}
.note{
    background-image: url(/src/assets/Imagens/note_block.webp);
    width: var(--block);
    height: var(--block);
}
.lever{
    background: none;
    border: none;
    background-image: url(/src/assets/Imagens/lever_off.webp);
    height: var(--block);
    width: var(--block);
   
}

.Warden{
    background-image: url(/src/assets/Imagens/sculk.webp);
    background-repeat: repeat;
    min-height: 100vh;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Home{
    scroll-margin-top: 250px;
}
#Redstone, #Explorar{
    scroll-margin-top: var(--header-height);
}
@media (max-width: 600px){

    .txtBox,
    .modelBox{
        width: 266px;
        height: calc(260px * 360 / 292);
    }
    .txtBox{
        margin-top: 50px;
    }
    .modelBox{
        margin-top: 30px;
    }
}
@media (max-width: 900px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .botao{
        padding-top: 7px;
    }
    .terra{
        flex-direction: column;
        height: 150vh;
    }

    .nav-header{
        position: static;
        transform: none;
        width: auto;
        display: flex;
        justify-content: center;
        margin: 0px;
        gap: 20px;
    }

    .logo{
        width: clamp(80px, 20vw, 120px);
    }
    footer{
        flex-direction: column;
        min-height: 80vh;
        
    }
    .mob3d{
    width: 70%;
    height: 70%;
    }
    
}