@font-face{
    font-family: "Minecraft";
    src: url("/src/assets/Fonts/Minecraftia-Regular.ttf") format("truetype");
}
@keyframes moverNuvens {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -300px;
    }
}
@keyframes fluir {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: 300px ;
    }
    
}
@media (max-width: 900px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .nav-header{
        position: static;
        transform: none;
        width: auto;
        display: flex;
        justify-content: center;
        margin: 0px;
        gap: 20px;
    }

    :root{
        --header-height: 11rem;
    }
    .logo{
        width: clamp(80px, 20vw, 120px);
    }
}
:root{
    --header-height: 6.25rem;
    --cor-gradientCeu: linear-gradient(#4aa8ff, #87ceeb);
    --cor-gradientNoite: linear-gradient(#020111,#0b1d51,#1b3b6f);
    --black: #000000;
    --white: #ffffff;  

}

body{
    font-family: "Minecraft";
    margin: 0px;
    

}
main{
    margin-top: var(--header-height);
} 

header{
    justify-content: space-between;
    display: flex;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: clamp(0px, 4vw, 100px);
    align-items: center;
    z-index: 10;   
}

.nav-header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 10px;
    width: 70%;

}

.logo{
    height: auto;
    width: clamp(120px, 25vw, 180px);
    justify-content: left;
    background: transparent;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;

}
h2{
    color: var(--white);
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.botaoNav{
    background: none;
    border: none;
    transition: 0.3s ;
    position: relative;
    cursor: pointer;
    font-family: "Minecraft";

}

.botaoNav:hover{
    transform: scale(1.3);
}
.botaoNav::after{
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 0;
    height: 3px;
    background: var(--white);
    transform: translateX(-50%);
    transition: width 0.5s linear;
}
.botaoNav:hover::after{
    width: 80%;
}

.botao{
    width: clamp(64px, 20vw, 256px);
    height: clamp(11px, 4vw, 46px);
    cursor: pointer;
    border: none;
    background-image: url(/src/assets/Imagens/botao_mine\ \(1\).webp);
    border: black 2px solid;
    padding-top: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-family: "Minecraft";
    color: var(--white);
    font-size: 1em;
    transition: 0.01s;
    text-shadow: 
        -2px -2px 0 var(--black),
         1px -1px 0 var(--black),
        -1px  1px 0 var(--black),
         1px  1px 0 var(--black);
    
}
.botao h3{
    font-size: clamp(55%, 2vw, 1.33em);
}
.botao:hover{
    filter: brightness(1.15);
}
.botao:active{
    transform: translateY(3px);
    filter: brightness(0.9);
    border: white 2px solid;
}

.dimensoes{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    justify-items: center;
    padding-top: 3%;
    gap: 20px;
}


.OverWorld header{
    background: url("/src/assets/Imagens/ceu_def.webp") repeat-x, var(--cor-gradientCeu);
    --white:var(--black);
    animation: moverNuvens 60s linear infinite;
}
.OverWorld.Noite header{
    background: url("/src/assets/Imagens/ceuNoite.webp") repeat-x, var(--cor-gradientNoite);
    animation: moverNuvens 60s linear infinite;
    --white:#ffffff; 
}
.Nether header{
    background: url("/src/assets/Imagens/lava.webp") repeat-x;
    background-repeat: repeat;
    animation: fluir 15s linear infinite;
}
.End header{
    background: url("/src/assets/Imagens/end_portal.webp") repeat-x;
    background-repeat: repeat;
    animation: fluir 60s linear infinite;
    --grama: url("/src/assets/Imagens/end_stone_grama.webp");
}
.Ocean header{
    background: url("/src/assets/Imagens/agua.webp") repeat-x;
    animation: moverNuvens 30s linear infinite;
}

.OverWorld{
    --grama: url("/src/assets/Imagens/blocoTerraGrama.webp");
}
.OverWorld.Noite{
    --grama: url("/src/assets/Imagens/blocoTerraGrama.webp");
}
.Nether{
    --grama: url("/src/assets/Imagens/nylium_netherrack.webp");
}
.End{
    --grama: url("/src/assets/Imagens/end_stone_grama.webp");
}
.Ocean{
    --grama: url("/src/assets/Imagens/prismarine.webp");
}


.grama{
    height: 130px;
    background-image: var(--grama);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 0px;
    position:sticky;
}
.grama::before{
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 130px;
    background-image: var(--grama);
    background-repeat: repeat-x;
    z-index: -1;
}

.OverWorld .terra{
    background-image: url(/src/assets/Imagens/blocoTerra.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.OverWorld.Noite .terra{
    background-image: url(/src/assets/Imagens/blocoTerra.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.Nether .terra{
    background-image: url(/src/assets/Imagens/netherrack.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.End .terra{
    background-image: url(/src/assets/Imagens/end_stone.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.Ocean .terra{
    background-image: url(/src/assets/Imagens/prismarine.webp);
    background-repeat: repeat;
    min-height: 100vh
}
.stone{
    background-image: url(/src/assets/Imagens/cobbleStone.webp);
    background-repeat: repeat;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px
}
.redstone{
    flex-direction: row;
    display: grid;
    grid-template-columns: 130px 1fr 130px;
    gap: 5px;
    align-items: center;
    height: 150px;
    width: 80%;
    background: none;
   
}
.redstone.On .lever{
    background: none;
    border: none;
    background-image: url(/src/assets/Imagens/lever_on.webp);
}
.redstone.On .dust{
    background-image: url(/src/assets/Imagens/redstone_dust_on.webp);
}
.redstone.On .lamp{
    background-image: url(/src/assets/Imagens/lamp_on.webp);
    box-shadow: 0 0 75px #b19700;
}

.dust{
    background-image: url(/src/assets/Imagens/redstone_dust_off.webp);
    height: 130px;
    width: 110%;
}
.lamp{
    background-image: url(/src/assets/Imagens/lamp_off.webp);
    height: 130px;
    width: 130px;
}
.lever{
    background: none;
    border: none;
    background-image: url(/src/assets/Imagens/lever_off.webp);
    height: 130px;
    width: 130px;
   
}

.Warden{
    background-image: url(/src/assets/Imagens/sculk.webp);
    background-repeat: repeat;
    min-height: 100vh;
    color: var(--white);
}

#Home{
    scroll-margin-top: 250px;
}
#Redstone, #Explorar{
    scroll-margin-top: var(--header-height);
}